
<div class="container">
  <h4 class="col-2 m-5">会員一覧</h4>
  <div class="row" style="display: flex; justify-content: center; ">
      <table class="col-10 table table-bordered">
      <tr>
        <th class="col-1 bg-light">会員ID</th>
        <th class="col-2 bg-light">氏名</th>
        <th class="col-1 bg-light">メールアドレス</th>
        <th class="col-2 bg-light">ステータス</th>
      </tr>
      <% @customer.each do |customer| %>
      <tr>
          <td>git 
                <%= customer.id %>
          </td>
          <td>
            <u><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer),class: "text-dark" %></u>
          </td>
          <td>
                <%= customer.email %>
          </td>
          <td class="text-center">
            <% if customer.is_deleted == true %>
            <strong class="text-secondary">
            退会
            </strong>
            <% else %>
            <strong class="text-success">
            有効
            </strong>
            <% end %>
          </td>
      </tr>
      <% end %>

    </table>
    </div>
    <!--<div class="row">-->
    <div class="col text-center" style="display: flex; justify-content: center; ">
      <%= paginate @customers %>
    <!--</div>-->
    </div>
</div>