<h1>ジャンル編集</h1>
<%= form_with model:@genre, url:admin_genre_path, local:true do |f| %>
<table>
  <tr>
    <th>ジャンル名</th>
    <td><%= f.text_field :name %></td>
    <td><%= f.submit %></td>
  </tr>
</table>
<% end %>